.app {
  align-items: center;
  text-align: center;
}

.possible-words-container {
  width: 100vw;
}

.possible-words-list {
  columns: 8;
  list-style: none;
  margin-left: -40px;
}

.letter-input {
  width: 60px;
  height: 60px;
  font-size: 16pt;
  font-family: "Clear Sans","Helvetica Neue",Arial,sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
}

.color-input {
  position: "relative"
}

.button-container {
  margin-top: 10px;
}
.button-container > * {
  margin-left: 10px;
  margin-right: 10px;
}

.letter-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px
}

.all-letters-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.color-label {
  height: 10px;
  width: 10px;
  display: inline-block;
}

.color-container {
  margin-top: 5px;
}
